<div data-controller="tabs" class="h-screen w-full bg-[#1a1a2e] flex flex-col">
  <div data-tabs-target="tabBar" class="flex items-center gap-0.5 px-2 pt-1 bg-[#12122a] border-b border-[#2a2a3e] shrink-0"></div>
  <div data-tabs-target="panels" class="flex-1 min-h-0"></div>

</div>
